account_details.csv
api_store.bytes
api_variables.json
aspectvision_jsonfile
aws_frame_cash.zip
aws_frame.zip
claim20240705
claim20240709.json
claim20250415
convert to excel.py
crypto_functions.py
data_rules.md
ekbotha.json
emaildraft.py
err1.json
essenzlib_pksk_tokenizer.py
essenzlib-0.2.4-py3-none-any.whl
filelist.txt
genson_schemas_eg2.py
genson_schemas.py
hb_ekerling_93300.json
Healthbridge_API_access.py
Healthbridge_API_GetClaimsRouting_Mapped_V2.py
Healthbridge_API_GetClaimsRouting_Mapped_V3.py
Healthbridge_API_GetClaimsRouting_Mapped.py
image_orientation.py
import json.py
import pyodbc.py
lambda_batcher_hb.py
lambda_batcher.py
my_workspace.code-workspace
OMCL202407.000254957.json
optometry q and a
optometry_qa.json
optometry_qa2.json
ORCA Client Management & Support System.md
order_2023-09-04.xsd
output qa.xlsx
Pipfile
Pipfile.lock
reads3bucket.py
smsportal.log
smsportal.spec
smsportalreplies.py
sorted_filelist.txt
sortlist.py
test_aws_api_2.py
test_aws_api_2b.py
test_aws_api_Healthbridge_check_status.py
test_aws_api_Healthbridge_report_count.py
test_aws_api_Healthbridge_requeue_claim.py
test_aws_api_Healthbridge_submit_claims_reversal.py
test_aws_api_Healthbridge_submit_claims.py
test_aws_api_scheme_response.py
test_aws_api.py
test_healthbridge_API_ClaimService_Reversal.py
test_validate_fastjsonschema.py
test_validate_jsonschema_folder.py
test_validate_jsonschema.py
write_to_parquet.py
.idea/.gitignore
.idea/aws_frame.iml
.idea/misc.xml
.idea/modules.xml
.idea/inspectionProfiles/profiles_settings.xml
__pycache__/crypto_functions.cpython-38.pyc
__pycache__/essenzlib_pksk_tokenizer.cpython-38.pyc
__pycache__/essenzlib_pksk_tokenizer.cpython-310.pyc
__pycache__/Healthbridge_API_access.cpython-38.pyc
build/smsportal/Analysis-00.toc
build/smsportal/base_library.zip
build/smsportal/EXE-00.toc
build/smsportal/PKG-00.toc
build/smsportal/PYZ-00.pyz
build/smsportal/PYZ-00.toc
build/smsportal/smsportal.pkg
build/smsportal/warn-smsportal.txt
build/smsportal/xref-smsportal.html
build/smsportal/localpycs/pyimod01_archive.pyc
build/smsportal/localpycs/pyimod02_importers.pyc
build/smsportal/localpycs/pyimod03_ctypes.pyc
build/smsportal/localpycs/pyimod04_pywin32.pyc
build/smsportal/localpycs/struct.pyc
dist/smsportal.exe
dist/smsportal.log
dist/smsportal.zip
inputs/HB/Exported_data_2021-09-14_10-35-47-155.xlsx
inputs/HB/GetClaimsRouting_70_ref_Mapped 20210907.xlsx
inputs/HB/GetClaimsRouting_70_ref_Mapped_20211128.xlsx
inputs/HB/GetClaimsRouting_70_ref_Mapped_NoPK.csv
inputs/HB/GetClaimsRouting_70_ref_Mapped.xlsx
inputs/HB/GetClaimsRouting_70_ref_test_V2.csv
inputs/HB/GetClaimsRouting_70_ref_test1.csv
inputs/HB/GetClaimsRouting_70_ref.csv
inputs/HB/GetClaimsRouting_70_test1.csv
inputs/HB/GetClaimsRouting_70_Thevian.csv
inputs/HB/GetClaimsRouting_70_Thevian.xlsx
inputs/HB/GetClaimsRouting_70.csv
klaudia/__init__.py
klaudia/klaudia.py
klaudia/utils.py
klaudia/__pycache__/__init__.cpython-38.pyc
klaudia/__pycache__/__init__.cpython-39.pyc
klaudia/__pycache__/klaudia.cpython-38.pyc
klaudia/__pycache__/klaudia.cpython-39.pyc
klaudia/__pycache__/utils.cpython-38.pyc
klaudia/__pycache__/utils.cpython-39.pyc
outputs/HB/GetClaimsRouting_70_diff_changed.csv
outputs/HB/GetClaimsRouting_70_diff_combined_action_20220119.csv
outputs/HB/GetClaimsRouting_70_diff_combined_action_B4PK.csv
outputs/HB/GetClaimsRouting_70_diff_combined_action_testV2_Result20211222.csv
outputs/HB/GetClaimsRouting_70_diff_combined_action_Thivian.csv
outputs/HB/GetClaimsRouting_70_diff_combined_action.csv
outputs/HB/GetClaimsRouting_70_diff_combined.csv
outputs/HB/GetClaimsRouting_70_diff_healthbridgeRoutingCode.csv
outputs/HB/GetClaimsRouting_70_diff_new.csv
outputs/HB/GetClaimsRouting_70_new_duplicates.csv
test.ldb
test.mdb
